/* root */

:root {
  --bg-color: #22272e;
  --nav-bg-color: #2d333b;
  --p-color: #cdd9e5;
  --h1-color: #5a7fff;
  --button-color: #347d39;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}
