/* root */

:root {
  --bg-color: #22272e;
  --nav-bg-color: #2d333b;
  --button-color: #347d39;
  --color-gray-1: #373e47;
  --color-gray-2: #979a9c;
  --color-gray-3: #444c56;
  --color-orange: #f9826c;

  --text-color-gray-1: #cdd9e5;
  --text-color-gray-2: #768390;
  --text-color-gray-3: #979a9c;
  --text-color-gray-4: #adbac7;
  --text-color-blue: #539bf5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 65.75px;
  background-color: var(--nav-bg-color);
  left: 0;
  top: 0;
}

nav ul {
  display: flex;
  position: absolute;
  left: 393.02px;
  top: 10.09px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.03em;

  /* Color 1 */
}

nav li {
  list-style-type: none;
  margin: 15px;
}

nav a {
  color: var(--text-color-gray-1);
  text-decoration: none;
}

.logo {
  position: absolute;
  left: 2.37%;
  right: 95.23%;
  top: 23.48%;
  bottom: 25.31%;
}

.search-bar {
  position: absolute;
  width: 289.99px;
  height: 31.07px;
  left: 85.87px;
  top: 17.46px;

  /* Background */

  background: var(--bg-color);
  /* Color 3 */

  border: 1px solid var(--color-gray-1);
  box-sizing: border-box;
  border-radius: 5px;
}

::placeholder {
  position: absolute;
  /* width: 131px;
  height: 16px; */
  left: 10.61px;
  top: 6.85px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.03em;
  text-align: center;

  /* Color 1 */

  color: var(--text-color-gray-1);
}

.search-rectangle {
  position: absolute;
  width: 22px;
  height: 22px;
  border: 1px solid var(--color-gray-2);
  border-radius: 4px;

  left: 345.57px;
  top: 22px;
}

.vector {
  position: absolute;
  left: 21.91%;
  right: 34.33%;
  top: 20.01%;
  bottom: 19.23%;
}

.alert {
  display: flex;
  position: absolute;
  width: 15.75px;
  height: 18px;
  left: 1292.21px;
  top: 25.66px;
}

.insert {
  display: flex;
  position: absolute;
  left: 92%;
  right: 6.91%;
  top: 42.83%;
  bottom: 37.4%;
}

.avatar {
  display: flex;
  position: absolute;

  left: 1371.84px;
  top: 22.34px;
}

.second-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  /* padding: 200px 50px; */
  margin: 120px 0px;
}

.overview {
  position: absolute;
  left: 29.3%;
  right: 69.52%;
  top: 120px;
  bottom: 34.75%;
}

.overview-text {
  position: absolute;
  width: 62px;
  height: 16px;
  left: 446.47px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.03em;

  /* color 6 */

  color: var(--text-color-gray-2);
}

.repository {
  position: absolute;
  width: 13.2px;
  height: 17.46px;
  left: 543.3px;
  top: 120px;
}

.repository-text {
  position: absolute;
  width: 83px;
  height: 16px;
  left: 567.86px;
  top: 120px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.03em;

  /* Color 1 */

  color: var(--text-color-gray-1);
}

.circle {
  position: absolute;
  width: 28.08px;
  height: 20.37px;
  left: 648.96px;
  top: 120px;

  /* Color 3 */
  color: var(--text-color-gray-2);
  background: var(--color-gray-1);
  border-radius: 20px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  /* letter-spacing: 0.03em; */
  text-align: center;
  /* justify-content: center; */
  align-items: center;
}

.border {
  position: absolute;
  width: 179.43px;
  height: 2.18px;
  left: 524.42px;
  top: 155px;

  background: var(--color-orange);
}

.projects {
  position: absolute;
  left: 50.14%;
  right: 48.82%;
  top: 120px;
  bottom: 32.24%;
}

.project-text {
  position: absolute;
  width: 54px;
  height: 16px;
  left: 746.43px;
  top: 120px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.03em;

  /* color 6 */

  color: var(--text-color-gray-2);
}

.packages {
  position: absolute;
  left: 57.83%;
  right: 41.06%;
  top: 120px;
  bottom: 29.43%;
}

.packages-text {
  position: absolute;
  width: 62px;
  height: 16px;
  left: 857.82px;
  top: 120px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: -0.005em;

  /* color 6 */

  color: var(--text-color-gray-2);
}

.moon {
  position: absolute;
  width: 29.87px;
  height: 29.87px;
  left: 1324.35px;
  top: 100px;
}

.github-icon {
  position: absolute;
  width: 40.14px;
  height: 17.19px;
  left: 1319.22px;
  top: 140px;
}

.horizontal-line {
  width: 100%;

  margin-top: 35.91px;
  border: 1px solid var(--color-gray-1);
}

.display-photo {
  position: absolute;
  margin: -150px 100px;
}

.smiley {
  position: absolute;
  width: 39px;
  height: 39px;
  left: 365px;
  top: 360px;
}

.profile-name {
  position: absolute;
  width: 53px;
  height: 30px;
  margin: 180px 100px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--text-color-gray-1);
}

.username {
  position: absolute;
  width: 132px;
  height: 23px;
  margin: 215px 100px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  /* Color 2 */

  color: var(--color-gray-2);
}

.edit-button {
  position: absolute;
  width: 298.76px;
  height: 34.18px;
  margin: 250px 100px;
  padding: 0 20px;
  /* Color 3 */

  background: var(--color-gray-1);
  /* Color 5 */
  text-align: center;
  border: 1px solid var(--color-gray-3);
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2.2;
  /* identical to box height */

  letter-spacing: 0.055em;

  /* Color 1 */

  color: var(--text-color-gray-1);
}

.follow-section {
  display: flex;
  flex-direction: row;
}

.follow-icon {
  position: absolute;
  left: 0.76%;
  right: 93.42%;
  margin: 300px 100px;
}

.follower-count {
  position: absolute;
  width: 100px;
  height: 16px;
  margin: 300px 130px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.03em;

  /* Color 1 */

  color: var(--text-color-gray-1);
}

.follower-count a {
  color: var(--text-color-gray-1);
  text-decoration: none;
}

.follower-count a:hover {
  color: var(--text-color-blue);
}

.follower {
  color: var(--color-gray-2);
}

.follower:hover {
  color: var(--text-color-blue);
}

.following-count {
  position: absolute;
  width: 100px;
  height: 16px;
  margin: 300px 210px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.03em;

  /* Color 1 */

  color: var(--text-color-gray-1);
}

.following-count a:hover {
  color: var(--text-color-blue);
}

.following {
  position: absolute;
  width: 61px;
  height: 16px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.045em;

  /* Color 2 */

  color: var(--color-gray-2);
}

.following-count a {
  text-decoration: none;
  color: var(--text-color-gray-1);
}

.following:hover {
  color: var(--text-color-blue);
}

.rate-icon {
  position: absolute;
  margin: 300px 295px;
}

.rate--count {
  position: absolute;
  width: 8px;
  height: 16px;
  margin: 300px 315px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 0.03em;

  /* Color 1 */

  color: var(--text-color-gray-1);
}

.rate--count:hover {
  color: var(--text-color-blue);
}

.info-section {
  display: inline-block;
  margin: 330px 100px;
}

.info-section ul {
  list-style-type: none;
}

.info-section li {
  margin: 10px 0;
  color: var(--color-gray-2);
  letter-spacing: 0.04em;
  line-height: 16px;
  font-size: 14px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
}

.info-section li > img {
  margin-right: 10px;
}

.info-section li > a {
  text-decoration: none;
  color: var(--color-gray-2);
}

.repo-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.find-repo {
  position: absolute;
  width: 547.58px;
  height: 33.49px;
  left: 410px;
  top: 175px;

  /* Color 3 */
  background-color: var(--bg-color);
  border: 1px solid #373e47;
  box-sizing: border-box;
  border-radius: 5px;
}

.find-repo::placeholder {
  position: absolute;
  width: 123px;
  height: 16px;
  left: 12.71px;
  top: 10.26px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 10px;
  /* identical to box height */

  letter-spacing: 0.03em;

  /* color 6 */

  color: #768390;
}

.type-btn {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 9px 17px;

  position: absolute;
  width: 84px;
  height: 34px;
  left: 964.63px;
  top: 175px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.03em;

  /* Color 1 */

  color: #cdd9e5;
  /* Color 3 */

  background: #373e47;
  /* Color 5 */

  border: 1px solid #444c56;
  box-sizing: border-box;
  border-radius: 5px;
}

.type-btn > img {
  margin-left: 10px;
}

.language-btn {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 9px 17px;

  position: absolute;
  width: 119px;
  height: 34px;
  left: 1055px;
  top: 175px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.03em;

  /* Color 1 */

  color: #cdd9e5;
  /* Color 3 */

  background: #373e47;
  /* Color 5 */

  border: 1px solid #444c56;
  box-sizing: border-box;
  border-radius: 5px;
}

.language-btn > img {
  margin-left: 10px;
}

.sort-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 17px;

  position: absolute;
  width: 82px;
  height: 34px;
  left: 1180px;
  top: 175px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.03em;

  /* Color 1 */

  color: #cdd9e5;
  /* Color 3 */

  background: #373e47;
  /* Color 5 */

  border: 1px solid #444c56;
  box-sizing: border-box;
  border-radius: 5px;
}

.sort-btn > img {
  margin-left: 10px;
}

.new-btn {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 9px 17px;

  position: absolute;
  width: 90px;
  height: 35.46px;
  left: 1268px;
  top: 175px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.03em;

  /* white */

  color: #ffffff;
  background: #347d39;
  border: 1px solid #46954a;
  box-sizing: border-box;
  border-radius: 8px;
}

.new-btn > img {
  margin-right: 10px;
}

.horizontal-line-2 {
  position: absolute;
  width: 945.63px;
  height: 0px;
  left: 410.93px;
  top: 228.68px;

  /* Color 3 */

  border: 1px solid #373e47;
}

.google-homepage {
  position: absolute;
  width: 185px;
  height: 23px;
  left: 414.13px;
  top: 260.8px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--text-color-blue);
}

.google-homepage:hover {
  text-decoration: underline solid var(--text-color-blue);
  text-underline-offset: 1px;
  text-decoration-thickness: 0.13em;
}

.css-ellipse {
  position: absolute;
  width: 112.76px;
  height: 12.76px;
  left: 414.97px;
  top: 302.89px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  /* color 6 */

  color: #768390;
  box-sizing: border-box;
}

.css-ellipse > img {
  margin-right: 8px;
}

.status {
  position: absolute;
  width: 109px;
  height: 14px;
  left: 482.57px;
  top: 304.89px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  letter-spacing: 0.04em;

  /* color 6 */

  color: #768390;
}

.rate-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 14px;

  position: absolute;
  width: 72.64px;
  height: 29px;
  left: 1284px;
  top: 255px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  letter-spacing: 0.03em;

  /* Color 1 */

  color: #cdd9e5;
  /* Color 3 */

  background: #373e47;
  /* Color 5 */

  border: 1px solid #444c56;
  box-sizing: border-box;
  border-radius: 6px;
}

.rate-btn > img {
  margin-right: 4px;
}

.horizontal-line-3 {
  position: absolute;
  width: 945.63px;
  height: 0px;
  left: 410.93px;
  top: 357px;

  /* Color 3 */

  border: 1px solid #373e47;
}
