/* root */

:root {
  --bg-color: #22272e;
  --nav-bg-color: #2d333b;
  --p-color: #cdd9e5;
  --h1-color: #5a7fff;
  --button-color: #347d39;
  --border-color: #979a9c;

  --search-bar-border-color: #373e47;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
}

nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 65.75px;
  background-color: var(--nav-bg-color);
  left: 0;
  top: 0;
}

nav ul {
  display: flex;
  position: absolute;
  /* width: 87px;
  height: 16px; */
  left: 393.02px;
  top: 10.09px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.03em;

  /* Color 1 */
}

nav li {
  list-style-type: none;
  margin: 15px;
}

nav a {
  color: var(--p-color);
  text-decoration: none;
}

.logo {
  position: absolute;
  left: 2.37%;
  right: 95.23%;
  top: 23.48%;
  bottom: 25.31%;
}

.search-bar {
  position: absolute;
  width: 289.99px;
  height: 31.07px;
  left: 85.87px;
  top: 17.46px;

  /* Background */

  background: var(--bg-color);
  /* Color 3 */

  border: 1px solid var(--search-bar-border-color);
  box-sizing: border-box;
  border-radius: 5px;
}

::placeholder {
  position: absolute;
  /* width: 131px;
  height: 16px; */
  left: 10.61px;
  top: 6.85px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.03em;
  text-align: center;

  /* Color 1 */

  color: var(--p-color);
}

.search-rectangle {
  position: absolute;
  width: 22px;
  height: 22px;
  border: 1px solid var(--border-color);
  border-radius: 4px;

  left: 345.57px;
  top: 22px;
}

.vector {
  position: absolute;
  left: 21.91%;
  right: 34.33%;
  top: 17.01%;
  bottom: 19.23%;
}

.alert {
  position: absolute;
  width: 15.75px;
  height: 18px;
  left: 1242.21px;
  top: 25.66px;
}

.insert {
  position: absolute;
  left: 92%;
  right: 6.91%;
  top: 42.83%;
  bottom: 37.4%;
}

.dropdown {
  position: absolute;
  left: 93.39%;
  right: 5.92%;
  top: 49.32%;
  bottom: 43.9%;
}

.avatar {
  position: absolute;
  width: 22.64px;
  height: 22.64px;
  left: 1331.84px;
  top: 22.34px;
}

.avatar-dropdown {
  position: absolute;
  left: 97.13%;
  right: 2.39%;
  top: 47.8%;
  bottom: 45.42%;
}
/* .container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 50px;
}

header {
  grid-area: header;
} */
/*
article {
  grid-area: content;
}

aside {
  grid-area: sidebar;
} */

footer {
  grid-area: footer;
}
